html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
background-color: rgb(228, 194, 153);
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons-container {
  margin-bottom: 50px;
  display: flex;
  gap: 10px;
}

.sketchArea {
  display: grid;
  height: 550px;
  width: 550px;
  /* grid-template-columns: repeat(6, 50px); */
}

.tile {
  /* height: 50px;
  width: 50px; */
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
}

.gradient {
  filter: brightness(1);
}
