html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
background-color: rgb(228, 194, 153);
min-height: 100vh;
height: 100vh;
}

.container {
  display: flex;
  min-height: inherit;
  height: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons-container {
  margin-bottom: 30px;
  display: flex;
  gap: 10px;
}

.sketchArea {
  display: grid;
  height: 550px;
  width: 550px;
}

.tile {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
}

.slider-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

h1 {
  margin-top: 0;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: .8em;
  background-color: rgb(207, 169, 125);
  margin-top: 10px;
  width: 100vw;
  margin-top: 10px;
  position: absolute;
  height: 50px;
  bottom: -75px;
}